<main>
    <section aria-labelledby="initial-investment">
        <h4 id="initial-investment">INITIAL INVESTMENT</h4>
        <p>$ {{ totalInvestment | number : '1.2-2' }}</p>
    </section>
    <section aria-labelledby="balance-details">
        <h4 id="balance-details">BALANCE DETAILS</h4>
        <span>
            <p class="current-balance">${{ totalBalance | number : '1.2-2' }}</p>
        </span>
    </section>
    <section aria-labelledby="profit">
        <h4 id="profit">PROFIT</h4>
        <div class="arrow">
            <span class="bi" *ngIf="totalBalance !== 0" [ngClass]="isEarn ? 'bi-arrow-up' : 'bi-arrow-down'"></span>
            <p [ngClass]="isEarn ? 'green' : 'red'" *ngIf="totalBalance !== 0">{{ totalPnl | number : '1.2-2'}}%</p>
            <span class="placeholder" *ngIf="totalBalance === 0"></span>
        </div>
    </section>
</main>