/* @import url('../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

main {
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  height: 200px;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.box-1 {
  margin-left: 40px;
}



.box-3 {
  margin-right: 40px;
}

p {
  font-size: x-small;
  color: gray;

}

h5 {
  color: darkgray;

}



.arrow {
  display: inline-block;
}




.bi-arrow-up {
  color: green;
  display: inline-block;
}

.bi-arrow-down {
  color: red;
  display: inline-block;
}



.green {
  color: green;

  display: inline-block;
}

.red {
  color: red;
  display: inline-block;
} */


@import url('../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

main {
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  height: 200px;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  margin: 0 40px;
}

p {
  font-size: large;
  color: gray;
}

h4,
p {
  color: darkgray;
}

.arrow {
  display: flex;
  align-items: start;
}

.bi-arrow-up {
  color: green;
  margin-right: 4px;
}

.bi-arrow-down {
  color: darkred;
  margin-right: 4px;
}

.green {
  color: green;
}

.red {
  color: darkred;
}

.current-balance {
  font-size: xx-large;
  color: black;
}

.placeholder {
  height: 63px;
}

#balance-details {
  margin-top: 18px;
}