<main class="d-flex min-vh-100">
    <section class="container mt-5">
        <fieldset>
            <legend class="mb-4 visually-hidden">Create New Transaction</legend>

            <form (ngSubmit)="createTransaction(newTransactionForm)" #newTransactionForm="ngForm"
                aria-labelledby="form-title">
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="cryptoCurrency">Crypto Currency</label>
                    <select class="col-10 form-select" id="cryptoCurrency" name="cryptoCurrency" required ngModel>
                        <option selected disabled>Select the Crypto Currency</option>
                        <option *ngFor="let coin of coins;" [value]="coin.id"> {{ coin.name }}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="cryptoAmount">Amount</label>
                    <input type="number" class="col-10 form-control" id="cryptoAmount" name="cryptoAmount"
                        placeholder="Amount" required ngModel>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" for="price">Price (USD)</label>
                    <input type="number" class="col-10 form-control" id="price" name="price" placeholder="Price"
                        required ngModel>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="date">Date</label>
                    <input type="date" class="col-10 form-control" id="date" name="transactionDate" required ngModel>
                </div>
                <div class="form-group row justify-content-end">
                    <button type="submit" class="col-4 btn btn-secondary" aria-label="Add new currency">Add</button>
                    <div class="col-2"></div>
                    <button type="button" class="col-4 btn btn-secondary" (click)="cancel()"
                        aria-label="Cancel">Cancel</button>
                </div>
            </form>
        </fieldset>
    </section>
</main>