.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
    margin-left: 10px;
}

nav {
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
}

.nav-link {
    border-color: gray;
    border: solid 3px;
    border-radius: 10px;
    color: gray;
}