<main>
    <header class="transactions-header">
        <h1>Transactions</h1>
        <button type="button" class="btn btn-secondary" routerLink="form" aria-label="Add Transaction">+ NEW
            TRANSACTION</button>
    </header>
    <section class="transaction-table-section">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-3" scope="col">Cryptocurrency</th>
                    <th class="col-1" scope="col">Amount</th>
                    <th class="col-3" scope="col">Price ($)</th>
                    <th class="col-3" scope="col">Date</th>
                    <th class="col-1" scope="col"></th>
                    <th class="col-1" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <th scope="row">{{ transaction.cryptoCurrency | titlecase }}</th>
                    <td>{{ transaction.cryptoAmount }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.transactionDate | date }}</td>
                    <td class="icon">
                        <button class="trash">
                            <a [routerLink]="['/edit', transaction._id]" aria-label="Edit Transaction">
                                <span class="bi bi-pencil-square fa-xs"></span>
                            </a>
                        </button>
                    </td>
                    <td>
                        <button class="icon-btn trash" (click)="deleteTransaction(transaction._id)"
                            aria-label="Delete Transaction">
                            <span class="bi bi-trash fa-xs"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>