<main class="d-flex min-vh-100">
    <fieldset class="container  mt-5">
        <legend class="mb-4">
        </legend>

        <form (ngSubmit)="updateTransaction()" #editTransactionForm="ngForm">
            <div class="form-group row">
                <label class="col-10 col-form-label" for="cryptoCurrency">Crypto Currency</label>
                <select class="col-10 form-select" aria-label="Default select example" id="cryptoCurrency"
                    name="cryptoCurrency" placeholder="Select a Crypto Currency" required
                    [(ngModel)]="transaction.cryptoCurrency">

                    <option *ngFor="let coin of coins;" [value]="coin.id"> {{ coin.name }}</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-10 col-form-label" for="cryptoAmount">Amount</label>
                <input type="text" class="col-10 form-control" [(ngModel)]="transaction.cryptoAmount" id="cryptoAmount"
                    name="cryptoAmount" placeholder="Amount" required>
            </div>


            <div class="form-group row">
                <label class="col-10 col-form-label" for="price">Price (USD)</label>
                <input type="text" class="col-10 form-control" id="price" name="price" placeholder="Price" required
                    [(ngModel)]="transaction.price">

            </div>
            <div class="form-group row">
                <label class="col-10 col-form-label" for="date">Date</label>
                <input type="date" class="col-10 form-control" id="date" placeholder="" name="transactionDate"
                    [ngModel]="transaction.transactionDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="transaction.transactionDate = $event">

            </div>
            <div class="form-group row  justify-content-end">
                <button type="submit" class="col-4 btn btn-secondary">Update</button>
                <div class="col-2"></div>
                <button type="button" class="col-4 btn btn-secondary" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </fieldset>
</main>