<main>
    <div class="row">
        <section class="col-md-6">
            <img src="../../assets/admin-login.jpeg" alt="Login Image" />
        </section>
        <section class="col-md-6">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert" aria-live="assertive">
                {{ errorMessage }}
            </div>
            <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" aria-labelledby="login-form-title">
                <h2 id="login-form-title">Please login to your account</h2>

                <div class="form-outline mb-4">
                    <label for="username" class="visually-hidden">Username</label>
                    <input type="email" id="username" name="username" class="form-control" placeholder="Username" autocomplete="username"
                        required ngModel />
                </div>

                <div class="form-outline mb-4">
                    <label for="password" class="visually-hidden">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" autocomplete="password"
                        required ngModel />
                </div>

                <div class="form-outline mb-3">
                    <button class="btn btn-primary" type="submit" aria-label="Login">Log in</button>
                </div>

                <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger" [routerLink]="'/signup'"
                        aria-label="Create new">Create new</button>
                </div>
            </form>
        </section>
    </div>
</main>